<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="dao.UserDetailMapper">
    <!-- 增加myabtis的映射
    id  对应的就是我们数据库的主键，如果有多个，我们这里需要配置相同的id标签
    column   数据库的字段名称
    property 对应的是实体的属性名
    -->
    <resultMap id="resultDetail" type="domain.UserDetail">
        <id column="id" property="id"></id>

        <result column="nick_name" property="nickName"></result>
        <result column="sex" property="sex"></result>
        <result column="address" property="address"></result>
        <result column="birthday" property="birthday"></result>
        <result column="user_id" property="userId"></result>
        <!--关联查询
            property 关联的实体参数 对应的POJP的属性名字
            select 调用哪个方法进行查询
            column 关联的数据库字段
        -->
        <association property="userLogin" select="dao.UserLoginMapper.findByid" column="user_id">
            <!--嵌套对象区间-->
            <id column="id" property="username"></id>

            <result column="username" property="username"></result>
            <result column="password" property="password"></result>
        </association>
    </resultMap>


    <!--嵌套对象  一条SQL 语句-->
    <resultMap id="userLoginOne" type="domain.UserLogin">
        <id column="id" property="username"></id>
        <result column="username" property="username"></result>
        <result column="password" property="password"></result>
    </resultMap>
    <resultMap id="resultDetailOne" type="domain.UserDetail">
        <id column="id" property="id"></id>
        <result column="nick_name" property="nickName"></result>
        <result column="sex" property="sex"></result>
        <result column="address" property="address"></result>
        <result column="birthday" property="birthday"></result>
        <result column="user_id" property="userId"></result>
        <association property="userLogin" resultMap="userLoginOne">
        </association>
    </resultMap>



    <select id="selectAll"  resultMap="resultDetail">
        select * from user_detail
    </select>

    <select id="selectById" resultMap="resultDetail" parameterType="Integer">
        select * from user_detail where id = #{id}
    </select>


    <select id="selectByIdOne" resultMap="resultDetailOne" parameterType="Integer">
        select * from user_detail a , user_login b
        where a.user_id = b.id
        and a.id = #{id}
    </select>


</mapper>