<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--
          id 和 name 可以同时存在,作为bean的标识
          class添加的应该是class的全路径
      -->
    <bean
            id="user" name="userName" class="domain.User"
    />

</beans>